<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="static/details.css">
</head>

<body>

    <div class="layout">

        <div id="details-container" class="panel">
            <h2>Entry details</h2>
            <div class="controls">
                <button id="week-btn">Week</button>
                <button id="day-btn">Day</button>
                <button id="month-btn">Month</button>

            </div>

            <!-- results -->
            <div id="content">

            </div>
        </div>

    </div>

    <script type="module" src="static/details.js"></script>
</body>

</html>