<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tag Manager</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

    <div class="container">
        <h1>Tag Manager</h1>

        <!-- add tag -->
        <h2>Add Some Tags</h2>
        <div class>
            <input type="text" id="card-uid" placeholder="Type the card UID here">
            
            <input type="text" id="card-description" placeholder="Type the name here">
            <button id="add-btn">Add Card</button>
        </div>

        <!-- existing tags -->
        <h2>Existing Tags</h2>
        <button id="details-btn">Details</button>
        <ul id="card-list"></ul>

        <!-- message display -->
        <div id="message"></div>
    </div>

    <script type="module" src="static/script.js"></script>

</body>
</html>